/*base*/
body {
    padding: 30px;
    background-color: #F0F0F0;
}
.u-body {
    padding-right: 0;
}
.u-sidebar {
    margin: 1.875rem 0;
    border-radius: 6px;
}


.no-bg-bd,
.no-bd-bg {
    border: 0;
    padding: 0;
}
.text-dark {
    color: #000 !important;
}
input::placeholder {
    color: #828282 !important;
}

.text-info {
    color: #6EC6FF !important;
}
.bg-info {
    background-color: #6EC6FF !important;
}
.border-info {
    border-color: #6EC6FF !important;
}


/*header*/
.u-header-middle {
    margin-left: auto;
    width: 100%;
}
.u-header-right {
    max-width: 100px;
    margin-left: auto;
}
a.user {
    background-color: #f0f0f0 !important;
    padding: 9px 13px;
    border-radius: 3px;
}

/*search*/
.u-header-search__field {
    background: #f0f0f0;
    padding-left: 15px;
    border-radius: 3px;
    border: 1px solid transparent;
}
.u-header-search__field:focus {
    border-color: #eee;
}
.search-trigger {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/*sidebar*/
.u-sidebar-nav-menu__link.active, .u-sidebar-nav-menu--top-level > .u-sidebar-nav--opened > .u-sidebar-nav-menu__link {
    background-color: #000;
}
.u-sidebar-nav-menu__link:hover {
    color: #1b1e24;
    background-color: rgba(0, 0, 0, 0.1);
}
.u-sidebar-nav-menu__link:hover .u-sidebar-nav-menu__item-icon {
    color: #333;
}

/*highlight*/
.single-highlight {
    border-radius: 3px;
}
.single-highlight i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 26px;
    border-radius: 3px;
}
.single-highlight h3 {
    color: #4b4b4b;
    font-size: 16px;
    line-height: 16px;
}
.single-highlight h3 strong {
    font-size: 24px;
}